{{- range .Values.nodes }}
---
apiVersion: frrk8s.metallb.io/v1beta1
kind: FRRConfiguration
metadata:
  # Generate a unique name for the resource (e.g., frr-conf-worker-01)
  name: frr-conf-{{ .hostname }}
  namespace: frr-k8s
spec:
  # ---------------------------------------------------------
  # TARGETING LOGIC: Apply this config ONLY to this specific node
  # ---------------------------------------------------------
  nodeSelector:
    matchLabels:
      kubernetes.io/hostname: {{ .hostname }}

  # ---------------------------------------------------------
  # BGP CONFIGURATION
  # ---------------------------------------------------------
  raw:
    rawConfig: |-   
        interface enp33s0f1np1
        ipv6 nd ra-interval 6
        no ipv6 nd suppress-ra
        exit
        !
        interface eno12409np1
        ipv6 nd ra-interval 6
        no ipv6 nd suppress-ra
        exit
        !
        interface dummy0
        ip address {{ .interfaceIp }}
        exit
        !
        router bgp {{ .bgpAS }}
        bgp router-id {{ .routerId }}
        bgp bestpath as-path multipath-relax
        neighbor TOR peer-group
        neighbor TOR remote-as internal
        neighbor TOR bfd
        neighbor TOR timers 1 3
        neighbor enp33s0f1np1 interface peer-group TOR
        neighbor eno12409np1 interface peer-group TOR
        bgp fast-convergence
        !
        address-family ipv4 unicast
        network 10.93.101.0/24
        redistribute kernel
        redistribute connected
        neighbor enp33s0f1np1 soft-reconfiguration inbound
        neighbor eno12409np1 soft-reconfiguration inbound
        exit-address-family
        exit
        !
{{- end }}
